:root {
  --primary-font: "Didact Gothic", sans-serif;
  --secondary-font: "Henny Penny", cursive;
}

h1,
h2,
.navbar-nav {
  text-align: center;
}

h1 {
  font-family: var(--secondary-font);
  font-size: 100px;
  font-weight: 600;
}

h2 {
  font-family: var(--primary-font);
  font-size: 55px;
  font-weight: 600;
}

nav.navbar {
  background: rgba(129, 46, 148, 0.178);
}

a.nav-link,
.dropdown-item,
.navbar-brand {
  color: #ffffff;
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 600;
}

.dropdown-menu {
  background: rgba(129, 46, 148, 0.178);
}
.hero {
  background: linear-gradient(
    64.5deg,
    rgba(245, 116, 185, 1) 14.7%,
    rgba(89, 97, 223, 1) 88.7%
  );
  padding: 200px 0;
}

.navbar-brand {
  margin: 0;
  font-family: var(--primary-font);
}

.navbar-nav {
  margin: 0 auto;
}

.scroll-pointer {
  font-size: 50px;
}
