:root {
  --primary-font: "Didact Gothic", sans-serif;
  --secondary-font: "Henny Penny", cursive;
  --hero-color: rgb(251 233 255);
  --default-color: #0a0d27;
}

nav.navbar {
  background: rgb(129 46 148 / 10%);
}

a.nav-link,
.dropdown-item,
.navbar-brand {
  color: var(--hero-color);
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 600;
}

h1 {
  font-family: var(--primary-font);
  font-size: 40px;
}

p {
  font-family: var(--primary-font);
  color: var(--default-color);
}

.navbar-nav {
  text-align: center;
}

.hero h1 {
  color: var(--hero-color);
  font-family: var(--secondary-font);
  font-size: 80px;
  font-weight: 600;
  padding-bottom: 15px;
}

.hero h2 {
  color: var(--hero-color);
  font-family: var(--primary-font);
  font-size: 45px;
  font-weight: normal;
  padding-top: 20px;
}

.dropdown-menu {
  background: rgba(129, 46, 148, 0.178);
}

.hero {
  background: linear-gradient(
    64.5deg,
    rgba(245, 116, 185, 1) 14.7%,
    rgba(89, 97, 223, 1) 88.7%
  );
  border-radius: 0 0 45px 45px;
  padding: 100px 20px;
  text-align: center;
}

.navbar-brand {
  margin: 0;
  font-family: var(--primary-font);
}

.navbar-nav {
  margin: 0 auto;
}

.hello-introductions {
  background: #000;
  border-radius: 285px 245px 215px 250px;
  display: block;
  margin: 0 auto;
  width: 300px;
}

.bio {
  font-size: 35px;
  font-weight: bold;
}

.icons {
  font-size: 45px;
}

.skills {
  background: linear-gradient(
    90deg,
    rgb(159, 243, 248) 0%,
    rgb(245, 240, 108) 100%
  );
  border-radius: 50px;
  line-height: 1.5;
  padding: 30px 30px 0;
}

.skills-level h2,
.skills-level h3 {
  color: rgb(94 141 78);
  font-weight: 700;
}

.skills-level p {
  font-weight: normal;
  font-size: 30px;
}

.work-title {
  font-size: 45px;
}

.work-description {
  font-size: 25px;
}

.works {
  background: linear-gradient(
    268deg,
    rgb(255, 168, 169) 10%,
    rgb(252, 255, 0) 100%
  );
  padding: 30px 0;
  border-radius: 50px;
}

.projects img {
  border-radius: 40px;
  padding: 10px 10px;
  width: 500px;
}

@media (max-width: 343px) {
}
