:root {
  --primary-font: "Didact Gothic", sans-serif;
  --secondary-font: "Henny Penny", cursive;
}

body {
}

h1 {
  font-family: var(--secondary-font);
  font-size: 100px;
  font-weight: 600;
  text-align: center;
  background-image: linear-gradient(
    64.5deg,
    rgba(245, 116, 185, 1) 14.7%,
    rgba(89, 97, 223, 1) 88.7%
  );
}

h2 {
  font-family: var(--primary-font);
  font-size: 55px;
  font-weight: 600;
  text-align: center;
}

a.nav-link,
.dropdown-item {
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 600;
}

.navbar-brand{
  margin: 0;
  font-family: var(--primary-font);

}

.navbar-nav {
  margin: 0 auto;
  text-align: center;
}
